*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --main-font: "Roboto Mono", monospace;
    --book-display-bg : rgb(209 250 229);
    --button-color: rgb(20 184 166);
    --font-color: rgb(12 74 110);
    --button-text-color: rgb(255, 255, 255);
    --cancel-btn-color: rgb(225, 29, 72);
    /* --container-bg-color: rgb(110 231 183); */
    --container-text-color: rgb(27, 27, 27);  
    --container-bg-color: rgb(94 234 212); 
    --container-del-btn: rgb(251 113 133);
    --container-sts-btn: rgb(34, 173, 162);
}

body{
    height: 100vh;
}

.main-grid-cols{
    display: grid;
    grid-template-columns: 3.2fr 1.8fr;
}

.books-display-section{
    background-color: var(--book-display-bg);
    height: 100vh;
}

.books-display-section .libruary-content{
    padding: 2% 2%;
}

.books-display-section .libruary-content .heading{
    font-size: clamp(1.5rem, 2vw, 2.3rem);
    font-family: var(--main-font);
    color: var(--font-color);
}

.books-enter-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.welcome-para{
    display: grid;
    grid-template-columns: 1fr;             
    padding-left: 5%;
}

.button{
    padding-top: 5%;
    padding-left: 5%;
}

.button .inside-button{
    padding: 5% 10%;
    font-size: clamp(1rem, 1.165vw, 1.5rem);
    font-family: var(--main-font);
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-weight: 500;
    border: none;
}

.welcome-para p{
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-family: var(--main-font);
    color: var(--font-color);
}

#add-book-btn{
    margin: 0 auto;
}

/* ---------- DIALOG FORM ---------- */

dialog {
    border: none !important;
    /* box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    padding: 1.2rem 2rem;
    min-width: 20vw;
    max-width: 22vw;
    /* max-width: 400px; */
}
  
form{
    display: grid;
    grid-template-rows: repeat(4, 0.8fr) 1.5fr;
    gap: 0.7rem;
}

.book-name,
.author-name,
.no-of-pages{
    display: flex;
    flex-direction: column;
}

.is-read{
    display: flex;
    align-items: center;
}

.popup-btn{
    display: flex;
    gap: 1.5rem;
}

#input-close-save,
#input-close-cancel{
    padding: 0.8rem;
    font-size: clamp(1rem, 1.165vw, 1.5rem);
    font-family: var(--main-font);
    color: var(--button-text-color);
    font-weight: 500;
    border: none;
}

.btn-green{
    background-color: var(--button-color);
}

.btn-red{
    background-color: var(--cancel-btn-color);
}

.book-name-label,
.author-name-label,
.no-of-pages-label,
.is-read-label{
    font-size: 1.345rem;
    font-family: var(--main-font);
    color: var(--font-color);
}

input{
    padding: 0.4rem;
}

input[type="checkbox"] {
    width: 3em;
    height: 1.3rem;
    accent-color: var(--button-color);
}

input[type="text"],
input[type="number"]{
    height: 2.5rem;
    width: 20rem;
    font-size: 1.3rem;
}

.dialog-wrapper{
    position: absolute;
}

/* ---------- BOOKS DISPLAY ---------- */

.entered-book-display-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    gap: 1.2rem;
    padding: 0.5% 2%;
}

.book{
    padding: 3% 3%;
    background-color: var(--container-bg-color);
    display: grid;
    /* grid-template-rows: repeat(6, 0.5fr); */
    gap: 0.45rem;
}

.book p{
    font-size: 1.345rem;
    font-family: var(--main-font);
    color: var(--container-text-color);
}

.book button{
    padding: 4% 6%;
    font-size: clamp(1rem, 1.165vw, 1.5rem);
    font-family: var(--main-font);
    color: var(--button-text-color);
    /* background-color: var(--button-color); */
    font-weight: 500;
    border: none;
}

.book .remove-btn{
    background-color: var(--container-del-btn);
}

.book .sts-btn{
    background-color: var(--container-sts-btn);
}

/* ---------- DIALOG BOX ---------- */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    height: fit-content;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}